@model List<Product>


@if (Model.Any())
{
    <div class="container  my-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @foreach (var item in Model)
            {
                <a href="https://localhost:7286/Customer/Home/Details/@item.Id" class="col">
                    <div class="product-card m-1">
                        <img src="~/images/@item.MainImage" alt="@item.Name" />

                        <div class="product-info">
                            <h3>@item.Name</h3>

                            <div class="rowProduct d-flex justify-content-center align-items-center">
                                <span>@item.Composition</span>
                            </div>

                            <div class="rowProduct split px-3">
                                <span>@item.Width cm</span>
                                <span>@item.Weight g / m</span>
                            </div>

                            <div class="rowProduct split bottom px-3">
                                <span class="price">€ @item.Price / m</span>
                                <span class="stock">@item.StockQuantity m</span>
                            </div>
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>



    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    @if (ViewBag.currentPage > 1)
                    {
                        <li class="page-item"><a class="page-link" href="/Customer/home/product?page=@(ViewBag.currentPage - 1)">Previous</a></li>
                    }

                    @for (var i = 1; i <= ViewBag.totalNumberOfPages; i++)
                    {
                        @if (i == ViewBag.currentPage)
                        {
                            <li class="page-item active"><a class="page-link" href="/Customer/home/product?Name=@ViewBag.ProductName&MinPrice=@ViewBag.MinPrice&MaxPrice=@ViewBag.MaxPrice&CategoryId=@ViewBag.CategoryId&IsHot=@ViewBag.IsHot&page=@i">@i</a></li>
                        }
                        else
                        {
                            <li class="page-item"><a class="page-link" href="/Customer/home/product?Name=@ViewBag.ProductName&MinPrice=@ViewBag.MinPrice&MaxPrice=@ViewBag.MaxPrice&CategoryId=@ViewBag.CategoryId&IsHot=@ViewBag.IsHot&page=@i">@i</a></li>
                        }

                    }

                    @if (ViewBag.currentPage != ViewBag.totalNumberOfPages && Model.Any())
                    {
                        <li class="page-item"><a class="page-link" href="/Customer/home/product?page=@(ViewBag.currentPage + 1)">Next</a></li>
                    }
                </ul>
            </nav>
        </div>


    </div>
}


